.upload {
  background: var(--gx-upload-btn-color) !important;
  border-radius: var(--gx-base-border-radius) !important;
  color: var(--gx-white-btn-text-color) !important;
  height: var(--gx-btn-height) !important;
  font-size: var(--gx-font-size) !important;
  font-weight: var(--gx-font-weight) !important;
}