:root {
	--gx-base-border-radius: 8px;
	--gx-white-btn-text-color: #fff;
 	--gx-font-size: 12px;
    --gx-font-weight: 600;
	--gx-confirm-btn-color: #0e9f6e;
	--gx-confirm-btn-color-hover: #31C48D;
	--gx-reset-btn-color: rgb(235, 87, 87);
	--gx-reset-btn-color-hover: rgb(235, 107, 107);
	--gx-btn-max-width: 100%;
    --gx-btn-width: 130px;
    --gx-btn-height: 35px;
	--gx-btn-border-color: #fff;
	--gx-upload-btn-color: #F2C94C;
	--gx-color-content-left: #ffffff;
 	--gx-color-content-right: #22272B;
	--gx-color-text-white: white;
    --gx-color-text-yellow: #FDC65B;
	--gx-color-practice-form-footer: #8e98a0;
}
