.select {
  background: #F9FAFB !important;
  border: 1px solid #E5E7EB !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 150% !important;
  color: #9CA3AF !important;
  height: 35px !important;
  width: 100% !important;
	cursor: pointer;
}

