.wrapper {
  font-weight: 600 !important;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
	margin-top: 12px;
}

.wrapp {
  font-weight: 400 !important;
	display: grid;
	grid-gap: 20px;	
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	row-gap: 0;
}

.container {
  font-weight: 600 !important;
  margin-top: 20px;
}
