.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
	margin-top: 12px;
	@media (max-width: 1200px) {
		grid-gap: 20px;
	}
}

.wrapp {
	display: grid;
	grid-gap: 50px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	@media (max-width: 1200px) {
		grid-gap: 20px;
	}
}

.container {
	margin-top: 25px;
}
