$base-border-radius: 8px !important;
$white-btn-text-color: #fff !important;
$font-size: 12px !important;
$font-weight: 600 !important;
$confirm-btn-color: #0e9f6e  !important;
$confirm-btn-color-hover: #31C48D !important;
$reset-btn-color: rgb(235, 87, 87) !important;
$reset-btn-color-hover: rgb(235, 107, 107) !important;
$btn-max-width: 100%;
$btn-width: 130px;
$btn-height: 35px !important;
$btn-border-color: #fff !important;
$upload-btn-color: #F2C94C !important;
