@import "../style/global/breakpoints.scss";

.page {
    @include media(tablet, desktop) {
        display: flex;
        flex-direction: row;
    }
    @include media(mobile) {
        display: flex;
        flex-direction: column;   
    }
    width: 100%;
}