.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  grid-gap: 20px;
  &__button__confirm {
    width: var(--gx-btn-width) !important;
    height: var(--gx-btn-height) !important;
    max-width: var(--gx-btn-max-width) !important;
    background: var(--gx-confirm-btn-color) !important;
    border-radius: var(--gx-base-border-radius) !important;
    color: var(--gx-white-btn-text-color) !important;
    font-size: var(--gx-font-size) !important;
    font-weight: var(--gx-font-weight) !important;
    border-color: var(--gx-btn-border-color) !important;
    &:hover  {
      background: var(--gx-confirm-btn-color-hover) !important;
    }
  }
  &__button__reset {
    width: var(--gx-btn-width) !important;
    height: var(--gx-btn-height) !important;
    max-width: var(--gx-btn-max-width) !important;
    background: var(--gx-reset-btn-color) !important;
    border-radius: var(--gx-base-border-radius) !important;
    color: var(--gx-white-btn-text-color) !important;
    font-size: var(--gx-font-size) !important;
    font-weight: var(--gx-font-weight) !important;
    border-color: var(--gx-btn-border-color) !important;
    &:hover  {
      background: var(--gx-reset-btn-color-hover) !important;
    }
  }

}

.title {
  width: 508px;
}

.ant-typography {
  color: #1F2937;
  overflow-wrap: break-word;
  font-weight: 600;
  line-height: 150%;
}

.footer {
  background-color: var(--gx-color-practice-form-footer);
  position: fixed;
  bottom: 0;
  width: 50%;
  text-align: center;
}
