@import "src/style/variables/variables.scss";

.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  grid-gap: 20px;
  &__button__confirm {
    width: $btn-width;
    height: $btn-height;
    max-width: $btn-max-width;
    background: $confirm-btn-color;
    border-radius: $base-border-radius;
    color: $white-btn-text-color;
    font-size: $font-size;
    font-weight: $font-weight;
    border-color: $btn-border-color;
    &:hover  {
      background: $confirm-btn-color-hover;
    }
  }
  &__button__reset {
    width: $btn-width;
    height: $btn-height;
    max-width: $btn-max-width;
    background: $reset-btn-color;
    border-radius: $base-border-radius;
    color: $white-btn-text-color;
    font-size: $font-size;
    font-weight: $font-weight;
    border-color: $btn-border-color;
    &:hover  {
      background: $reset-btn-color-hover;
    }
  }

}

.title {
  width: 508px;
}

.ant-typography {
  color: #1F2937;
  overflow-wrap: break-word;
  font-weight: 600;
  line-height: 150%;
}

.footer {
  background-color: var(--gx-color-practice-form-footer);
  position: fixed;
  bottom: 0;
  width: 50%;
  text-align: center;
  // font-size: 20px;
}
