@import "../../../../style/global/breakpoints.scss";

.content__right {
	background-color: var(--gx-color-content-right);
	@include media(tablet, desktop) {
        width: 50%;
    }
    @include media(mobile) {
        width: 100%;
    }
}
