

.rsd__select-day, .rsd__select-month, .rsd__select-year {
  background: #F9FAFB !important;
  border: 1px solid #E5E7EB !important;
  border-radius: 8px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: #374151 !important;
  height: 35px !important;
  color: #454b54 !important;
}

.rsd__react-select-datepicker {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  /* weight: 100%; */
}