

.rsd__select-day, .rsd__select-month, .rsd__select-year {
  background: #F9FAFB !important;
  border: 1px solid #E5E7EB !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #374151 !important;
  height: 35px !important;

}

.rsd__react-select-datepicker {
  gap: 8px;
  weight: 100%;
}