.result {
	display: grid;
	grid-template-columns: 135px 1fr;
	grid-gap: 25px;
	margin-top: 20px;
}

.keys {
	border: 1px solid var(--gx-color-text-black);
	padding: 5px;
	padding-top: 8px;
	min-height: 5vh;
	color: var(--gx-color-text-white);
}

.title {
	color: var(--gx-color-text-white);
	font-size: 20px;
}

.wrapper {
	padding: 20px;
}
