.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.select {
  background: #F9FAFB !important;
  border: 1px solid #E5E7EB !important;
  border-radius: 8px !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 150% !important;
  color: #374151 !important;
  height: 35px !important;
  width: 100% !important;
}